body {
	background-image: url("https://github.com/paigepittman/TriviaGame/blob/master/assets/images/harry-potter-14.jpg?raw=true");
	background-size: cover;
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
	
}

image {
	opacity: 1;
}

.container {
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	
}

.header {
	text-align: center;
	font-family: 'Asar', serif;
	color: #DAA520;
	font-size: 40px;

}

#question {
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	background-color: white;
	opacity: .7;
	width: 700px;
	height: 100px;
	text-align: center;
	color: black;
	font-family: 'Source Sans Pro';
	font-size: 20px;

}

#choices {
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	opacity: .7;
	width: 700px;
	height: 350px;
	text-align: center;
	color: black;
	font-family: 'Source Sans Pro';

}

.choice {
	margin-bottom: 10px;
	}


